.allDiv{
    animation: fadeInAnimationLandingTitle .75s;
}

.upperDiv{
    display: flex;
    padding:10px;
}

.upperDiv img{
    margin: auto;
    height:5vw;
}

.accountIcon {
    margin: 0 auto;
    width: 5vw;
}

.forminnerDiv{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 50%;
}

.forminnerDiv input, .forminnerDiv select{
    margin: 10px;
    padding: 10px;
    border: black 1px solid;
    border-radius: 10px;
    outline: black;
}


.forminnerDiv select{
    margin-bottom: 5%;
}

.forminnerDiv h1{
    margin-left: 3%;
    margin-top: 1%;
    font-size: 1.5em;
    font-weight: bold;
}

.buttonsDiv{
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 30%;
}

.buttonClass{
    margin: auto;
    padding: 5%;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 10%;
    width:40%;
    box-shadow: 0px 8px 8px 0px rgba(0,0,0,0.2);
}


.buttonClass.Conf{
    background-color: #0045AF;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}


.buttonClass.Del{
    background-color: #F83535;
    display: flex;
    justify-content: center;
    align-items: center;
}

.deleteMessage{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 55%;
    height: 40%;
    padding: 5%;
    border-radius: 10px;
    box-shadow: 0px 8px 8px 0px rgba(0,0,0,0.2);
    z-index: 1000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.deleteMessage.open {
    animation: Appear 0.3s ease-in-out forwards;
}

.deleteMessage.close {
    animation: Dissappear 0.3s ease-in-out forwards;
}

@keyframes Appear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes Dissappear {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.deleteMessage h1{
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 5%;
}

.buttonsDiv2{
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 50%;
    margin-top:5%;
}

.buttonClass2{
    margin: auto;
    padding: 5%;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 10%;
    width:40%;
    box-shadow: 0px 8px 8px 0px rgba(0,0,0,0.2);
    display: flex;
    justify-content: center;
    align-items: center;
}

