:root {
    --upperDivImgSize: 5vw;
    --backgroundColor: #faef79; /* Un amarillo desvanecido */
}

body {
    background-color: var(--backgroundColor);
}

.mainContent {
    display: flex;
    height: 100vh;
}

.chatSection {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--backgroundColor);
}

.upperDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.upperDiv img {
    height: var(--upperDivImgSize);
}

.upperDiv h1 {
    font-size: var(--upperDivImgSize);
}

.upperDivOverlay {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.upperDivOverlay img {
    height: var(--upperDivImgSize);
}

.upperDivOverlay h1 {
    font-size: var(--upperDivImgSize);
    flex-grow: 1;
    text-align: center;
}

.overlay {
    position: fixed;
    width: 25%;
    height: 100vh;
    background-color: rgb(172, 215, 249);
    top: 0;
    right: 0;
    align-items: center;
    display: flex;
    flex-direction: column;
    z-index: 1000;
    overflow-y: auto;
    box-shadow: -2px 0 5px rgba(0,0,0,0.5);
}

.overlay.open {
    animation: slideInFromRight 0.3s ease-in-out forwards;
}

.overlay.close {
    animation: slideOutToRight 0.3s ease-in-out forwards;
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes slideOutToRight {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(100%);
    }
}

.overlayContent {
    width: 100%;
    padding: 2%;
    border-radius: 15px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    padding-right: 2.5%;
    position: relative;
    z-index: 10;
    overflow-y: auto;
    max-height: 85vh;
}

.overlayLinks {
    position: absolute;
    top: 60px;
    right: 20px;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 15px;
    align-items: flex-start;
    padding: 15px;
    z-index: 100;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.5);
}

.overlayLinksContent {
    font-weight: bold;
    border-bottom: 1px solid black;
    margin-bottom: 10px;
    padding-bottom: 5px;
    width: 100%;
}

.profileIcon {
    margin-top: 10px;
    position: absolute;
    top: 20px; /* Ajusta este valor según sea necesario */
    right: 20px; /* Ajusta este valor según sea necesario */
    text-align: center;
    width: 100%;
}

.chatContent {
    width: 100%;
    padding: 2%;
    border-radius: 15px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    padding-right: 2.5%;
    position: relative;
    z-index: 10;
    overflow-y: auto;
    max-height: 72vh;
    background-color: var(--backgroundColor);
}

.message.nova {
    background-color: rgb(82, 49, 49);
    margin-bottom: 2%;
    width: 80%;
    display: flex;
    max-height: fit-content;
}

.message.user {
    background-color: rgb(75, 44, 232);
    margin-bottom: 2%;
    width: 80%;
    margin-left: 20%;
    display: flex;
}

.message img {
    height: 3vh;
}

.message button {
    background: none;
    border: none;
    cursor: pointer;
}

.message button img {
    height: 3vh;
    margin-left: 10px;
}

.chatFooter {
    display: flex;
    flex-direction: row;
    background-color: white;
    border-radius: 10px;
    width: 98%;
    padding-left: 1%;
    padding-right: 1%;
    margin-right: 1%;
    margin-bottom: 1%;
    margin-left: 1%;
    height: fit-content;
    align-items: center;
    min-height: 7vh;
}

.chatFooter input {
    border: none;
    width: 100%;
    height: 98%;
    outline: none;
    margin-right: 1%;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.chatFooter img {
    height: 5vh;
}
