.outerDiv {
    background: linear-gradient(to top, #353434, #9c9c9c);
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    margin-top: 3%;
    margin-bottom: 3%;
    padding-top: 2%;
    align-items: center;
    justify-content: center;
    border-radius: 10px;;
}

.logo{
    width: 40%
}

.innerButton{
    background-color: #d9d9d9;
    color: black;
    border: none;
    border-radius: 15px;
    padding: 10px 20px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    height: 250px;
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.innerButton p{
    font-size: 20px;
    font-weight: bold;
}

.innerButton img{
    width: 250px;
    height: 250px;

}

.innerDiv{
    width: 90%;
    margin: 0 auto;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

}

.innerUpperDiv{
    display: flex;
    flex-direction: row;
    width: 53%;
    margin-top: 2%;
    justify-content: space-between;
    margin: 0 auto;
}

.innerLowerDiv{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    margin-top: 3%;
    margin-bottom: 5%;
}