.message {
    max-width: 75%;
    min-width: 70px;
    width: fit-content;
    padding: 10px;
    border-radius: 10px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    overflow-x: auto;
    position: relative;
    padding-bottom: 25px;
}

.message.nova {
    background-color: #FFBB33;
    margin-bottom: 2%;
    margin-left: 0;
    margin-right: auto;
    display: flex;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.5);
}

.message.user {
    background-color: rgb(230, 230, 230);
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.5);
    margin-bottom: 2%;
    margin-left: auto;
    margin-right: 0;
    display: flex;
}
.cont {
    display: flex;
    height: 100vh;
}

.history {
    flex: 1;
    margin-right: 20px;
    overflow-y: auto; /* Vertical scrollbar */
    border-right: 1px solid #ccc; /* Optional: Add a border to separate sections */
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.5);
}

.messages {
    flex: 2;
    overflow-y: auto; /* Vertical scrollbar */
    padding:  10px 20px 0px 0px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f4f4f4;
}

tr:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}

.selected {
    background-color: #0045AF;
    color: white;
}

.selected:hover {
    background-color: #0045AF;
    color: white;
}

.messages-cell {
    padding: 16px;
    background-color: #f9f9f9;
}

.back-button {
    max-height: 150px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 0;
}